
main {
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;
}

#right {
	border: 2px solid black;
	width: 50%;
	height: auto;
	padding: 20px;

}
#left {
	border: 2px solid black;
	width: 50%;
	height: auto;
	padding: 20px;
}

#left p {
	
}
